<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="C:\AGV_Message\${date:format=yyyyMMdd}" />
  <variable name="layoutDF" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${onexception:inner=${newline} ${exception:format=ToString}} ${message} ${onexception:inner=${newline} ${exception:format=ToString}}"/>
  <targets>
    <target name="TcpIpControlfile" xsi:type="File" fileName="${logDirectory}/TcpIpControlfile.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/TcpIpControlfile_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="TcpIpTrxfile" xsi:type="File" fileName="${logDirectory}/TcpIpTrx.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/TcpIpTrx_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="TcpIpTrxStatefile" xsi:type="File" fileName="${logDirectory}/TcpIpTrxState.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/TcpIpTrxState_{#}.log" maxArchiveFiles="10" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
  </targets>
  <rules>
    <logger name="TcpIpControl" minlevel="Debug" writeTo="TcpIpControlfile" />
    <logger name="TcpIpTrx" minlevel="Debug" writeTo="TcpIpTrxfile" />
    <logger name="TcpIpTrxState" minlevel="Debug" writeTo="TcpIpTrxStatefile" />
  </rules>
</nlog>

